@font-face {
	font-family: 'Lora';
	src: url('../fonts/Lora.woff2') format('woff2');
}

@font-face {
	font-family: 'Noto Sans';
	src: url('../fonts/NotoSans.woff2') format('woff2');
}

:root {
	/*
	Colors
	 */
	--color-black:        #000;
	--color-brown:        #513C2C;
	--color-gray:         #AAA;
	--color-light-gray:   #CCC;
	--color-lighter-gray: #EEE;
	--color-light-blue:   #8CB2DB;
	--color-deep-blue:    #44627C;
}

a, a:visited {
	color: #232323;
	text-decoration: none;
	border-bottom: .1em dotted #232323;
}

a:hover {
	background-color: var(--color-light-gray);
}

audio {
	margin-left: 10px;
	font-size: .6em;
}

button#play-button {
	margin: 0 10px;
}

body {
	background: var(--color-lighter-gray);
	margin: 0;
	padding: 0;
	border: 0;
	height: 100%;
	width: 100%;
}

h1 {
	font: 28px 'Lora', Georgia, serif;
	color: #232323;
}

h2 {
	font: 24px 'Lora', Georgia, serif;
	font-weight: bold;
}

h3 {
	font: 20px 'Lora', Georgia, serif;
}

h4 {
	font: 18px 'Lora', Georgia, serif;
	font-weight: normal;
	color: #232323;
}

.daily h3 {
	text-align: center;
}

iframe {
	max-height: 400px;
	width: 100%;
	overflow: scroll;
	resize: both;
}

p {
	font-family: 'Noto Sans', Arial, sans-serif;
	letter-spacing: .03em;
}

.small {
	font-size: .75em;
}

.narrow {
	width: 40%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

table.gloss {
	font-family: Courier, monospace;
}

table.gloss tr.tgs_text, table.gloss tr.en_text {
	font-family: 'Noto Sans', Arial, sans-serif;
}

table.gloss tr.tgs, table.gloss tr.tgs_gloss {
	font-style: italic;
}

table.gloss tr.ety, table.gloss tr.ety_gloss {
	color: var(--color-gray);
}

table.gloss td {
	padding-right: 2em;
}

table.grammar td, table.grammar th {
	padding-right: 2em;
}

ul, ol {
	font-family: 'Noto Sans', Arial, sans-serif;
	letter-spacing: .03em;
}

/* default id/class/etc formatting */

#header {
	background: #232323;
	margin: 0;
	border-bottom: 1px solid white;
	height: 80px;
	width: 100%;
	position: fixed;
	top: 0;
	z-index: 1;
}

#header .title {
	display: inline-block;
	color: white;
	font: normal bold 22px 'Lora', Georgia, serif;
	/*text-transform:lowercase;*/
	width: 200px;
	margin: 10px;
	vertical-align: top;
}

#header .title a, #header .title a:visited {
	color: white;
}

#header .title a:hover {
	background: none;
}

#header .menu {
	display: none;
	vertical-align: top;
	position: relative;
	z-index: 2;
	text-align: center;
}

#smalltitle {
	margin: 0 0;
	font: normal bold 15px 'Lora', Georgia, serif;
	color: lightgray;
}

#largetitle {
	margin: 0 0;
	font: normal bold 22px 'Lora', Georgia, serif;
	color: white;
}

.alphabet-selector {
	background: var(--color-light-gray);
	padding: 5px 0;
	text-align: center;
	position: fixed;
	width: 85%;
	margin-left: calc(15%);
	margin-top: 80px;
	height: 20px;
	top: 0;
}

#abc {
	padding: 0 7px;
}

.menu-head {
	display: inline-block;
	color: white;
	font: bold 18px 'Noto Sans', Arial, sans-serif;
	text-transform: uppercase;
	letter-spacing: .1em;
	width: 160px;
	margin: 40px 19px 19px;
	vertical-align: top;
}

.dropdown {
	display: none;
}

.menu:hover .dropdown {
	display: block;
}

.menu:hover #login-signup {
	display: none;
}

#header .menu ul.dropdown {
	list-style: none;
	padding: 0;
	margin: 0;
	border: 0;
	background: #232323;
	width: 180px;
}

#header .menu ul.dropdown li, #header .menu ul.dropdown li a, #header .menu ul.dropdown li a:visited {
	padding: 10px;
	font: bold 14px 'Noto Sans', Arial, sans-serif;
	letter-spacing: .1em;
	text-transform: uppercase;
	text-decoration: none;
	color: white;
	border-color: white;
}

#header .menu ul.dropdown li:hover {
	background: var(--color-light-gray);
}

#header .search {
	display: inline-block;
	vertical-align: middle;
	margin: 15px 20px;
	float: right;
}

#header .search form {
	margin-bottom: 0;
}

#header .search form input {
	font: 14px 'Noto Sans', Arial, sans-serif;
	margin: 0;
	padding: 5px 10px;
	background: var(--color-lighter-gray);
	letter-spacing: .05em;
	border: 0 solid black;
	height: 40px;
	width: 400px;
}


#header .search form input.q {
}

/*#header .search form input.submit {
    margin:0 0 0 -4px;
    padding:5px 13px 5px 7px;
    background:var(--color-lighter-gray);
    border:0 solid black;
    height:50px;
    font-style:bold;
    text-transform:lowercase;
    letter-spacing:.05em;
    text-align:center;
    width:50px;
}*/

/*#header .search form input.submit:hover {
    background:var(--color-light-gray);
}*/

#navigation {

}


#content {
	min-height: 100%;
	margin-top: 80px;
	width: 85%;
	float: right;
}

.column {
	display: inline-block;
	background: #ddd;
	padding: 10px;
	vertical-align: top;
	height: 100%;
}

#inner {
	width: 90%;
	margin: 0 auto;
	/*height:100%;*/
}

.flags {
	font: 12px 'Noto Sans', Arial, sans-serif;
	letter-spacing: normal;
}

.help {
	font: 11px 'Noto Sans', Arial, sans-serif;
	color: var(--color-gray);
}

td.help {
	width: 80px;
}

#footer {
	text-align: center;
	font: 12px 'Noto Sans', Arial, sans-serif;
	text-transform: uppercase;
	padding: 10px 0;
	width: 100%;
	background: #232323;
	color: white;
	float: right;
}

#footer a, #footer a:visited {
	color: white;
	border-color: white;
	margin: 0 8px;
}

/* page-specific overrides */
.admin-edit, .admin-edit a, .admin-edit a:hover, .admin-edit a:visited {
	font: 12px/12px 'Noto Sans', Arial, sans-serif;
	color: red;
	padding: 5px 8px;
	border: 1px solid red;
}

.admin-edit {
	margin-top: 10px;
	border: none;
}

.citations {

}

.citations p, .citation p {
	font: 14px/21px 'Noto Sans', Arial, sans-serif;
	text-indent: -3em;
	margin: 0 0 7px 3em;
}

.citation {
	margin-left: 10px;
}

.citedby {

}

.dictionary {
	/*margin-top: 120px !important;*/
}

.dictionary h1, .dictionary h2 {
	text-align: center;
}

.dictionary h3 {
	font-family: 'Noto Sans', Arial, sans-serif;
	margin: 0;
}

.dictionary p {
	margin: 0;
	font-size: 16px;
}

.dictionary .etymology {
	font-size: 14px;
}

.dictionary .entry {
	display: inline-block;
	vertical-align: top;
	width: 15%;
	margin: 10px 2%;
	border: 0;
	padding: 0;
}

.dictionary.entry {
	width: 50%;
	margin: 0 auto;
}

.dictionary.entry > * {
	margin-bottom: 8px;
}

.dictionary.entry h1 {
	text-align: left;
}

.dict-filter {
	font-family: 'Noto Sans', Arial, sans-serif;
	font-size: 14px;
}

.entry {
}

.entry .citations {
	margin-top: 12px;
}

.entry ul.citations {
	margin-top: 5px;
}

.entry .dictionary {
	width: 50%;
}

.entry .flags {
	font-size: 12px;
}

.error {
	width: 70%;
	margin: 0 auto;
}

.noncanon-warning {
	color: darkred;
	font-size: .8em;
}

#filter section {
	display: inline-block;
	vertical-align: top;
	width: 20%;
	padding: 0;
	border: 0;
	margin: 0 2%;
	font-family: 'Noto Sans', Arial, sans-serif;
}

#filter ul {
	font-size: 14px;
	list-style: none;
	padding: 0;
	margin: 0;
}

#filter select {
	width: 100%;
	font-family: 'Noto Sans', Arial, sans-serif;
}

.flag-list {

}

.flag-entry {

}

.grammar .entry {
	margin-top: 30px;
}

.grammar .entry h2 {
	margin: 0;
}

.grammar table {
	font: 14px 'Noto Sans', Arial, sans-serif;
	letter-spacing: .02em;
	padding-right: 8px;
}

.grammar th {
	text-align: left
}

.home {

}

.home .column.side {
	width: 20%;
	margin: 10px auto 10px auto;
}

.home .column.center {
	width: 50%;
	margin: 10px auto 5px auto;
}

.home .column.right a {
	font-weight: bold;
}

.home .column.side>ul>li {
	padding: 5px;
}

#resources .li{
	margin-bottom:5px;
}

.thanks {
	text-align: center;
}

.translations {
}

.translations .entry {
	margin: 15px;
}

.translations .tgs_text, .translations .en_text {
	font-family: 'Noto Sans', Arial, sans-serif;
	letter-spacing: .05em;
}

.line {
	border-bottom: 2px dotted gray;
}

/* The sidebar menu */
.sidenav {
	margin-top: 80px;
	height: 100%;
	width: 15%;
	position: fixed;
	z-index: 1;
	background-color: #232323;
	overflow-x: hidden;
	padding-top: 20px;
	float: left;
}

/* The navigation menu links */
.sidenav a {
	font: bold 18px 'Noto Sans', Arial, sans-serif;
	padding: 6px 8px 6px 16px;
	text-decoration: none;
	font-size: 22px;
	color: white;
	display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
	color: #f1f1f1;
}


/* Login Box */
#login-signup {
	float: right;
	vertical-align: middle;
	margin: 15px 20px;
	display: inline-block;
}

#login-signup ul {
	margin: 0;
	padding: 0;
	list-style: none;
	position: relative;
	float: right;
	background: var(--color-lighter-gray);
}

#login-signup li {
	float: left;
}

#login-signup #login {
	border-right: 1px solid #ddd;
	box-shadow: 1px 0 0 var(--color-lighter-gray);
}

#login-signup #login-trigger,
#login-signup #signup a {
	display: inline-block;
	height: 40px;
	line-height: 40px;
	font-weight: bold;
	padding: 0 8px;
	text-decoration: none;
	border-bottom: none;
	color: #444;
	text-shadow: 0 1px 0 var(--color-lighter-gray);
}

#login-signup #login-trigger:hover,
#login-signup #login .active,
#login-signup #signup a:hover {
	background: var(--color-lighter-gray);
}

#login-signup #login-content {
	display: none;
	position: absolute;
	top: 40px;
	right: 0;
	z-index: 999;
	background: var(--color-lighter-gray);
	padding: 15px;
	box-shadow: 0 2px 2px -1px rgba(0,0,0,.9);
}

#login-signup li #login-content {
	right: 0;
	width: 270px;
}

/*--------------------*/

#inputs input {
	background: #f1f1f1;
	padding: 6px 5px;
	margin: 0 0 5px 0;
	width: 238px;
	border: 1px solid #ccc;
	box-shadow: 0 1px 1px #ccc inset;
}

#inputs input:focus {
	background-color: var(--color-lighter-gray);
	border-color: #e8c291;
	outline: none;
	box-shadow: 0 0 0 1px #e8c291 inset;
}

/*--------------------*/

#login #actions {
	margin: 10px 0 0 0;
}

#login #loginbtn {
	background-color: #d14545;
	background-image: linear-gradient(top, #e97171, #d14545);
	text-shadow: 0 1px 0 rgba(0,0,0,.5);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
	border: 1px solid #7e1515;
	float: left;
	height: 30px;
	padding: 0;
	width: 100px;
	cursor: pointer;
	font: bold 14px Arial, Helvetica;
	color: var(--color-lighter-gray);
}

#login #loginbtn:hover,
#login #loginbtn:focus {
	background-color: #e97171;
	background-image: linear-gradient(top, #d14545, #e97171);
}

#login #loginbtn:active {
	outline: none;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
}

#login #loginbtn::-moz-focus-inner {
	border: none;
}

#login label {
	float: left;
	line-height: 30px;
}

#login label input {
	position: relative;
	top: 2px;
	right: 2px;
}

fieldset {
	display: block;
	margin-left: 2px;
	margin-right: 2px;
	padding: 0.35em 0.75em 0.625em;
	border: none;
}

/* Signup */
/* Full-width input fields */
input[type=username], input[type=email], input[type=password] {
	width: 100%;
	padding: 15px;
	margin: 5px 0 22px 0;
	display: inline-block;
	border: none;
	background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus, input[type=email]:focus {
	/*background-color: #ddd;*/
	outline: none;
}

hr {
	border: 1px solid #f1f1f1;
	margin-bottom: 25px;
}

/* Set a style for all buttons */
button {
	background-color: #4CAF50;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
	width: 100%;
	opacity: 0.9;
}

button:hover {
	opacity:1;
}

/* Add padding to container elements */
.container {
	padding: 16px;
}

/* Clear floats */
.clearfix::after {
	content: "";
	clear: both;
	display: table;
}

.signup-form {
	display: inline-block;
	background: #ddd;
	padding: 10px;
	vertical-align: top;
}

#inner-signup-form {
	width: 40%;
	margin: 30px auto;
}

#signupbtn {
	background-color: #d14545;
	background-image: linear-gradient(top, #e97171, #d14545);
	text-shadow: 0 1px 0 rgba(0,0,0,.5);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
	border: 1px solid #7e1515;
	float: left;
	height: 30px;
	padding: 0;
	width: 50%;
	cursor: pointer;
	font: bold 14px Arial, Helvetica;
	color: var(--color-lighter-gray);
}

/*Requests*/

.sort-buttons {
	list-style-type: none;
	float: right;
	margin-top: 20px;
	line-height: 30px;
}

.sort-buttons li {
	background-color: #d14545;
	border: 1px solid #7e1515;
	float: right;
	height: 30px;
	padding: 0;
	width: 100px;
	cursor: pointer;
	font: bold 14px Arial, Helvetica;
	color: var(--color-lighter-gray);
	line-height: 30px;
	text-align: center;
}

.topbar {
	height: 70px;
	width: 100%;
}

.topbar h2 {
	float: right;
	margin-top: 20px;
	height: 30px;
	float: left;
}

.request-list{
	margin-top: 30px;
}

.request-entry {
	height: 100px;
	width: 100%;
	border-bottom: var(--color-light-gray) dotted;
}

.request-quickstats {
	width: 200px;
	height: 100%;
	display: inline-block;
}

.request-summary {
	display: inline-block;
}

.votes,
.answers {
	width: 80px;
	height: 80px;
	text-align: center;
	display: inline-block;
	border: var(--color-gray) solid 2px;
	border-radius: 15px;
}

.summary-count {
	display: block;
	margin-top: 15px;
	font-size: 2em;
}

/*Comments*/
.comment-form-container {
	background: #F0F0F0;
	border: #e0dfdf 1px solid;
	padding: 20px;
	border-radius: 2px;
}

.input-row {
	margin-bottom: 20px;
}

.input-field {
	width: 100%;
	border-radius: 2px;
	padding: 10px;
	border: #e0dfdf 1px solid;
}

.btn-submit {
	padding: 10px 20px;
	background: #333;
	border: #1d1d1d 1px solid;
	color: #f0f0f0;
	font-size: 0.9em;
	width: 100px;
	border-radius: 2px;
	cursor:pointer;
}

.comment-row {
	border-bottom: #e0dfdf 1px solid;
	margin-bottom: 15px;
	padding: 15px;
}

.outer-comment {
	background: #F0F0F0;
	padding: 20px;
	border: #dedddd 1px solid;
}

span.commet-row-label {
	font-style: italic;
}

span.posted-by {
	color: #09F;
}

.comment-info {
	font-size: 0.8em;
}
.comment-text {
	margin: 10px 0px;
}
.btn-reply {
	font-size: 0.8em;
	text-decoration: underline;
	color: #888787;
	cursor:pointer;
}
#comment-message {
	margin-left: 20px;
	color: #189a18;
	display: none;
}

#admin-form form input, select {
	font: 14px 'Noto Sans', Arial, sans-serif;
	margin: 0 0 10px 0;
	padding: 5px 10px;
	background: white;
	letter-spacing: .05em;
	border: 0 solid black;
	height: 40px;
	width: 400px;
}

.result{
	position: absolute;
	z-index: 999;
	background: #f2f2f2;
	width:400px;
}

/* Formatting result items */
.result p{
	margin: 0;
	padding: 7px 10px;
	border: 1px solid #CCCCCC;
	border-top: none;
	cursor: pointer;
}
.result p:hover{
	background: #f2f2f2;
}

/* mobile overrides */
@media only screen and (max-device-width: 640px) {

	p, li {
		font-size: 2em;
	}

	h1, h2, h3 {
		font-weight: bold;
		font-size: 3em;
	}

	#inner {
		padding: 0px;
		width: 100%;
	}

	#header {
		height: 160px;
	}

	.alphabet-selector {
		margin-top: 130px;
		height: 100%;
		font-size: 1.3em;
		word-break: break-word;
		font-weight: bold;
		line-height: 1.35em;
		width: 8%;
		margin-left:0px;
	}

	#abc {
		padding: 0 7px;
	}

	#header {
		height:130px;
	}

	#header .title {
		font-size: 50px;
		width: 300px;
		margin-left: 20px;
	}

	#header .menu {
		display: inline-block;
	}

	#header .menu ul.dropdown li {
		font-weight: bold;
		overflow-wrap: break-word;
	}

	.menu:hover #login-signup {
		display: none;
	}

	#header .search {
		margin: 15px 10px;
	}

	#header .search form input {
		float: right;
		width: 150px;
	}

	.menu-head {
		margin: 25px 0px 19px 0px;
		width:180px;
	}

	.home {
	}

	.home .column.side {
		width: 100%;
		margin: 8px 0 15px;
		box-sizing: border-box;
	}

	.home .column.center {
		width: 100%;
		box-sizing: border-box;
	}

	.home .column, .home .column.left, .home .column.right {
		display: block;
		width: 100%;
		margin: 8px 0 15px;
	}

	.citations p {
		font-size: 2em;
		line-height: 1.5em
	}

	.grammar table {
		font-size: 2em;
	}

	.dictionary {
		width: 92% !important;
	}

	.dictionary .entry {
		width: 45%;
	}

	.dictionary p, .dictionary .etymology {
		font-size: 2em;
	}

	.grammar {
		margin-left: 10px;
	}

	.translations {

	}

	.translations table {
		font-size: 2em;
	}

	.translation.entry {
		width: 100%;
		overflow-x: scroll;
	}

	.translation.entry table.gloss {
		font-size: 2em;
	}

	#filter {
	}

	#filter section {
		display: block;
		width: 100%;
	}

	#filter ul {
		font-size: 1em;
	}

	#filter ul input, button#toggle {
		-ms-transform: scale(2);
		-moz-transform: scale(2);
		-webkit-transform: scale(2);
		-o-transform: scale(2);
		transform: scale(2);
		margin: 20px 40px;
		vertical-align: middle;
		font-size: .5em;
	}

	#footer {
		font-size: .8em;
		font-weight: bold;
		padding: 15px 10px;
		margin-top: 20px;
	}

	#content {
		margin-top: 160px;
		width: 100%;
		font-size: .5em;
		overflow: scroll;
	}

	/* The sidebar menu */
	.sidenav {
		display: none;
	}

	/* Login */

	#login-signup {
		display: block;
		margin: 15px 0px;
		position: fixed;
		top: 0px;
		right: 10px;
	}

	#login-signup ul {
		font-size: .8em;
	}

	#login-signup label {
		font-size: .7em;
	}

	#login-signup #login {
		height: 40px;
	}

	#login-signup #login-trigger,
	#login-signup #signup a {
		display: inherit;
		line-height: 40px;
		font-size: .6em;
	}

	#signup {
		display: none;
	}

	.result {
		top: 100%;
		width:150px;
	}

	.result p {
		font: 14px 'Noto Sans', Arial, sans-serif;
	}
}

/* TUTORIAL */

ul.chapter-list {
	text-align: left;
}

ul.chapter-list li {
	list-style-type: none;
}

.glossary-index {
	list-style-type: none;
}

.practice-problem {
}

.question {
	font-weight: bold;
}

.answer {
	margin-left: 4em;
}